<app-header></app-header>
<br/>

<!-- Your Account Personal Information -->

<div class="container">
  <div class="row">
    <div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Change Password</h6>
        </div>
        <div class="ui-block-content">
          <form [formGroup]="changePasswordForm" class="form-group" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Confirm Current Password</label>
                  <input formControlName="currentpassword" class="form-control" placeholder="" type="password" />
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Your New Password</label>
                  <input formControlName="newpassword" class="form-control" placeholder="" type="password" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Confirm New Password</label>
                  <input formControlName="confirmnewpassword" class="form-control" placeholder="" type="password" />
                  <p class="bg-warning" *ngIf="changePasswordForm.errors?.doesMatchPassword">Password does not match</p>
                </div>
              </div>

              <div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
                <div class="remember">

                  <div class="checkbox">
                    <label>
                      <input name="optionsCheckboxes" type="checkbox">
                      Remember Me
                    </label>
                  </div>

                  <a href="#" class="forgot">Forgot my Password</a>
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary btn-lg full-width">Change Password Now!</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
      <div class="ui-block">
        <div class="your-profile">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title"><a routerLink="/profile">Your PROFILE</a></h6>
          </div>

          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Profile Settings
                    <svg class="olymp-dropdown-arrow-icon"><use xlink:href="../../assets/icons/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                  </a>
                </h6>
              </div>

              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="your-profile-menu">
                  <li>
                    <a routerLink="/settings">Personal Information</a>
                  </li>
                  <li>
                    <a routerLink="/changepassword">Change Password</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Your Account Personal Information -->