        <div id="newsfeed-items-grid">
            <div class="ui-block">
                <div class="ui-block-title">
                  <h6 class="title">Following</h6>
                  <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
        
                <ul class="notification-list friend-requests">
                  <li>
                    <div class="author-thumb">
                      <img src="../../../assets/img/avatar15-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                      <a href="#" class="h6 notification-friend">Tamara Romanoff</a>
                      <span class="chat-message-item">Mutual Friend: Sarah Hetfield</span>
                    </div>
                    <span class="notification-icon">
                      <a href="#" class="accept-request">
                        Unfollow
                      </a>
                    </span>
        
                    <div class="more">
                      <svg class="olymp-three-dots-icon"><use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use></svg>
                      <svg class="olymp-little-delete"><use xlink:href="icons/icons.svg#olymp-little-delete"></use></svg>
                    </div>
                  </li>
                </ul>
        
              </div>
        </div>
    
      <!-- ... end Main Content -->
