<div id="newsfeed-items-grid" >
  <!-- <div *ngFor="let tweet of tweets?.tweets">
    {{ tweet.firstname }}
  </div> -->
  <div class="ui-block" *ngFor="let tweet of tweets">
    <article class="hentry post has-post-thumbnail">

      <div class="post__author author vcard inline-items">
        <img src="../../../assets/img/avatar3-sm.jpg" alt="author">

        <div class="author-date">
          <a class="h6 post__author-name fn">{{ tweet.user.firstname }} {{ tweet.user.lastname }}</a>
          <div class="post__date">
            <time class="published" datetime="2004-07-24T18:18">
                {{ tweet.createdAt | date:'MMM dd yyyy , h:mm a' }}
            </time>
          </div>
        </div>

        <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
          <ul class="more-dropdown">
            <li>
              <a (click)="edittweet(tweet._id)">Edit Post</a>
            </li>
            <li>
              <a (click)="deletetweet(tweet._id)">Delete Post</a>
            </li>
            <li>
              <a href="#">Turn Off Notifications</a>
            </li>
            <li>
              <a href="#">Select as Featured</a>
            </li>
          </ul>
        </div>

      </div>

      <p>{{ tweet.body }}
      </p>

      <div class="post-additional-info inline-items">

        <a class="post-add-icon inline-items">
          <svg class="olymp-heart-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-heart-icon"></use></svg>
          <a (click)="getlikedBy(tweet.likedBy)"><span>{{tweet.likesCount}} Likes</span></a>
        </a>

        <div class="comments-shared">
          <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-speech-balloon-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
            <span>0 Comments</span>
          </a>

          <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-share-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-share-icon"></use></svg>
            <span>2 Shares</span>
          </a>
        </div>
      </div>
    </article>
  </div>
</div>

<p-dialog header="Edit your post" [(visible)]="display" [modal]="true"
[responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
[maximizable]="false" [baseZIndex]="10000">

<div>
    <form [formGroup]="editTweetForm" (ngSubmit)="onSubmit()" class="form-group" method="POST">

      <div class="form-group">
        <textarea formControlName="body" class="form-control" placeholder=""></textarea>
      </div>
      <div class="add-options-message">

        <button type="submit" [disabled]="!editTweetForm.valid" class="btn btn-primary btn-md-2">Edit done</button>

      </div>

    </form>
</div>

</p-dialog>

<p-dialog header="Liked by :" [(visible)]="showlikedby" [modal]="true"
[responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
[maximizable]="false" [baseZIndex]="10000">

<div>
  <ul>
    <li *ngFor="let liked of likedByNames">
      {{ liked }}
    </li>
  </ul>

</div>
<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="showlikedby=false; likedByNames=[]" label="Done"></button>
  </p-footer>

</p-dialog>