<app-header></app-header>
<br/>

<div class="container">
  <div class="row">
    <!-- Main Content -->
    <main class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">
      <div id="newsfeed-items-grid">
          <div class="ui-block">
              <div class="ui-block-title">
                  <h6 class="title">Messages</h6>
                  <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
        
                <ul class="notification-list">
                
        
                  <li>
                    <div class="author-thumb">
                      <img src="../../../assets/img/avatar4-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                      <a href="#" class="h6 notification-friend">Chris Greyson</a> liked your <a href="#" class="notification-link">profile status</a>.
                      <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 18th at 8:22pm</time></span>
                    </div>
                    <span class="notification-icon">
                      <svg class="olymp-heart-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-heart-icon"></use></svg>
                    </span>
                    <div class="more">
                      <svg class="olymp-three-dots-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-three-dots-icon"></use></svg>
                      <svg class="olymp-little-delete"><use xlink:href="../../../assets/icons/icons.svg#olymp-little-delete"></use></svg>
                    </div>
                  </li>
        
                </ul>
      
            </div>
      </div>


      <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-three-dots-icon"></use></svg></a>


    </main>

    <!-- ... end Main Content -->


    <!-- Left Sidebar -->
    <aside class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
      <app-trending></app-trending>
    </aside>
    <!-- ... end Left Sidebar -->

        <!-- Right Sidebar -->

        <aside class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">
          <app-follow-suggestions></app-follow-suggestions>
        </aside>
            
                <!-- ... end Right Sidebar -->

  </div>
</div>