     <div id="newsfeed-items-grid">
          <div class="ui-block">
              <div class="ui-block-title">
                <h6 class="title">Followers</h6>
              </div>
      
              <ul class="notification-list friend-requests">
                <li *ngFor="let follower of followersData">
                  <div class="author-thumb">
                    <img src="../../../assets/img/avatar15-sm.jpg" alt="author">
                  </div>
                  <div class="notification-event">
                    <a href="#" class="h6 notification-friend">{{follower.firstname}} {{follower.lastname}}</a>
                    <span class="chat-message-item">Mutual Friend: Sarah Hetfield</span>
                  </div>
                  <span class="notification-icon">
                    <a class="accept-request">
                      Follow back
                    </a>
                  </span>

                </li>
              </ul>
      
            </div>
      </div>